{% master "layout/_master.liquid" %}

{{ content }}

<table>
    <tr>
        <th>Decision</th>
        <th>Status</th>
        <th>Owner</th>
    </tr>
    {% for decision in decisions %}
        <tr>
            <td><a href="{{ decision.href }}">{{ decision.title }}</a></td>
            <td>{{ decision.status }}</td>
            <td>{{ decision.owner }}</td>
        </tr>
    {% endfor %}
</table>