{% master "layout/_master.liquid" %}

{{ content }}

{% for persona in personas %}
    <div class="col-sm-12 persona-list" >
        <div class="card" >
            <div class="card-body">
                <div class="col-md-3">
                    <a href="{{ persona.href }}"><img src="{{ persona.image }}" alt="{{ persona.name }}_image"></a>
                </div>
                <div class="col-md-3">
                    <h2 class="card-title">
                        <a href="{{ persona.href }}">{{ persona.name }}</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endfor %}